
<mat-card>
<form [formGroup] = "addUserForm" (submit) ="addUser()">

    <p>
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Username</mat-hint>
    </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" formControlName="phone">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    </p>

        <button mat-raised-button color="primary">ADD USER</button>
</form>

</mat-card>